<div class="container">
  <form class="row mt-3 mb-3 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label class="visually-hidden" for="specificSizeInputName">Wish</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-auto">
      <button
        type="button"
        class="btn btn-primary"
        (click)="$event.preventDefault();
                 addWish();"
      > Add Wish</button>
    </div>
  </form>

  <div *ngIf="items.length > 0; else ngNoItems">
    <ul class="wish-list">
      <li *ngFor="let item of items; index as ii">
        <div class="form-check">
          <label class="form-check-label">
            <input
              class="checkbox"
              type="checkbox"
              [checked]="item.isFulfilled"
              [attr.data-index]="ii"
              (click)="clickItem(item)"
            > {{ item.wishText }}
          </label>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #ngNoItems>
    <h3>There are no items to display.</h3>
  </ng-template>
</div>
